@font-face {
    font-family: 'im_fell_dw_picaregular';
    src: url('imfelldwpica-regular-webfont.woff2') format('woff2'),
         url('imfelldwpica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'im_fell_dw_picaitalic';
    src: url('imfelldwpica-italic-webfont.woff2') format('woff2'),
         url('imfelldwpica-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
	background-color: #E1DDD8;
}

h1{
	font-size: 200px;
  	background: -webkit-linear-gradient(#A07A70 0%, rgba(160,122,112,0) 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-family: 'im_fell_dw_picaregular';
  	justify-content: space-between;
    position: relative;
  }

@media (max-width: 600px) {
  h1 {
    font-size: 80px;
}
  
  body{
  	background-color: #C1A79D;

}

.arrow{
	background: -webkit-linear-gradient(180deg, #A07A70 15.45%, rgba(193, 167, 157, 0) 85.98%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
}

@media only screen and (orientation: landscape) {
  body {
    background-color: #E1DDD8;
  }
}

p {
	text-align:left;
	font-family:'im_fell_dw_picaregular';
	font-size:40px;
	color:#C1A79D;
	line-height: 50px;
	width: 1374px;
	height: 589px;
	left: 66px;
	top: 328px;
}

div{
	margin: 40px;
}

.finding{
	position: absolute;
	width: 179px;
	height: 74px;
	left: 123px;
	top: 2200px;

	font-family: 'im_fell_dw_picaregular';
	font-size: 60px;
	line-height: 75px;

	color: #D13030;
}

.finding:hover{
	color:#000000;
}

.a{
	position: absolute;
	width: 40px;
	height: 70px;
	left: 350px;
	top: 2300px;

	font-family:'im_fell_dw_picaregular';
	font-size: 60px;
	line-height: 75px;

	color: #D13030;
}

.a:hover{
	color:#000000;
}

.fruit{
	position: absolute;
	width: 178px;
	height: 71px;
	left: 477.47px;
	top: 2400px;

	font-family:'im_fell_dw_picaregular';
	font-size: 60px;
	line-height: 75px;

	color: #D13030;

	transform: rotate(11.07deg);
}

.fruit:hover{
	color:#000000;
}
.on{
	position: absolute;
	width: 89px;
	height: 70px;
	left: 680px;
	top: 2500px;

	font-family: 'im_fell_dw_picaregular';
	font-size: 60px;
	line-height: 75px;

	color: #D13030;
}

.on:hover{
	color:#000000;
}

.the{
	position: absolute;
	width: 107px;
	height: 70px;
	left: 858px;
	top: 2600px;

	font-family: 'im_fell_dw_picaregular';
	font-size: 60px;
	line-height: 75px;
	color: #D13030;
}
.the:hover{
	color:#000000;
}

.ground{
	position: absolute;
	width: 178px;
	height: 70px;
	left: 1068px;
	top: 2700px;

	font-family:'im_fell_dw_picaregular';
	font-size: 60px;
	line-height: 75px;

	color: #D13030;
}

.ground:hover{
	color:#000000;
}

.mark{
	position: absolute;
	width: 178px;
	height: 70px;
	left: 1250px;
	top: 1900px;

	font-family:'im_fell_dw_picaregular';
	font-style: normal;
	font-weight: normal;
	font-size: 500px;
	line-height: 625px;
}

a:link{
  text-decoration: none;
}

.The{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 830px;
	top: 1800px;

	font-family: 'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}

.poem{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 950px;
	top: 1760px;

	font-family: 'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}

.is{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 600px;
	top: 1800px;

	font-family:'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}
.an{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 1000px;
	top: 1860px;

	font-family:'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}

.interpretation{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 700px;
	top: 2000px;

	font-family: 'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}

.of{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 1300px;
	top: 2300px;

	font-family:'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}

.weird{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 200px;
	top: 2600px;

	font-family:'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}

.theatrical{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 570px;
	top: 2800px;

	font-family:'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}

.shit{
	position: absolute;
	width: 180px;
	height: 144px;
	left: 760px;
	top: 3000px;

	font-family:'im_fell_dw_picaregular';
	font-size: 40px;
	line-height: 75px;

	color: #D13030;
}

.arrow{
	position: absolute;
	font-size:1000px;
  	background: -webkit-linear-gradient(180deg, #C1A79D 15.45%, rgba(193, 167, 157, 0) 85.98%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	padding-bottom: 0.2em;
  	padding-top: 0.2em;
  	padding-right: 0.2em;
	width: 180px;
	height: 144px;
	left: 1000px;
	top: 2000px;
}

.colon{
	color: #A07A70;
	position: absolute;
	width: 449px;
	height: 1446px;
	left: 1063.5px;
	top: 2100px;

	font-family:'im_fell_dw_picaregular';
	font-style: normal;
	font-weight: normal;
	font-size: 1000px;
	line-height: 625px;
	transform: rotate(3.55deg);
}

body.fourth{background: linear-gradient(180deg, #E1DDD8 0%, #D0CAC6 100%);
	}

.wrapper{
	color: #A07A70;
	text-align: center;
}

.scroll{
	font-size: 1000px;
	text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
}

.ending{
  	background: -webkit-linear-gradient(#A07A70 0%, rgba(160, 122, 112, 0) 35%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}